@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

body {
  font-family: "TT Commons";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*Categories section*/

.scroll-section-outer {
  overflow: hidden;
  position: relative;
}

.scroll-section-inner {
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  column-gap: 160px;
  padding-right: 50px;
  padding-left: 50px;
}

/*Features section*/

.boxWidened {
  transition: 0.5s;
  width: 600px;
}

.box {
  flex: 1;
  transition: 0.5s;
}

.active {
  transition: transform .5s ease;
  transform: scale(1.2);
}

.in-active {
  transition: transform .5s ease;
  transform: scale(1.0);
}